.home {
  min-height: 100vh;
  background-image: linear-gradient(90deg, blue, rgb(50, 233, 227));
  position: absolute;
  width: 100vw;
}
.slogan {
  font-size: 22px;
  font-weight: 700;
  font-family: "Reem Kufi", sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  text-align: center;
  color: white;
}
.citiesChoose__and {
  font-size: 22px;
  font-weight: 700;
  font-family: "Reem Kufi", sans-serif;
  text-align: center;
  color: white;
}
.citiesChoose {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5vh;
  margin-bottom: 0vh;
}
.homeDecor {
  width: 100vw;
  height: 25vw;
  background-image: linear-gradient(90deg, blue, rgb(50, 233, 227));
  z-index: 100;
  position: absolute;
}
.home__title {
  font-weight: 600;
  font-size: 4vw;
}
.mapImage {
  margin: 5vh 5vw;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}
.mapImage2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  max-width: 650px;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}
.capitalVideo {
  margin: 5vh 5vw;
  width: 80vw;
}
.homeInfo__container {
  background-color: rgb(240, 240, 240);
  background-image: linear-gradient(
    90deg,
    rgb(210, 210, 210),
    rgb(245, 245, 245)
  );
  margin: 5vw 10vw;
  padding: 5vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
}
.homeInfo__title {
  margin-bottom: 3vw;
  font-family: "Almarai", sans-serif;
}
.homeInfo__paragraph {
  margin: 2vw 1vw 2vw 1vw;
}
.homeInfo__list {
  margin: 0vw 1vw;
}
.homeInfo__point {
}
.homeCall__container {
  margin: 5vw 15vw;
  padding: 5vw;
  color: white;
}
.homeCall__titleContainer{
  display: flex;
  flex-direction: row;
  
}
.homeCall__titleIcon{
  margin-right: 2vw;
}
.homeCall__tel {
  text-decoration: none;
  color: black;
  font-weight: 700;
  color: yellow;
}
.homeCall__tel:hover {
  color: blue;
}
.formTitle {
  text-align: center;
  color: white;
}
.homeForm__container {
  display: flex;
  flex-direction: column;
  margin: 5vw 10vw;
  padding: 5vw;
}
.homeMessage__dataTitle {
  margin: 2vw 1vw 1vw 1vw;
  color: white;
}
.homeMessage__input {
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(210, 210, 210);
  height: 25px;
}
.homeMessage__input:hover {
  background-color: white;
}
.homeMessage__input:focus {
  border: 0px solid rgb(0, 255, 102);
  background-color: white;
}
.inputMessage {
  height: 85px;
}
.homeForm__button {
  margin: 15px 0vw 15px 35vw;
  background-image: linear-gradient(90deg, blue, rgb(50, 233, 227));
  color: white;
  border: 0px solid white;
  padding: 5px 15px;
  font-size: 18px;
  font-weight: 700;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.95);
}
.homeForm__button:hover {
  background-image: linear-gradient(90deg, black, rgb(86, 86, 86));
}
.homeOffer__adContainer {
  margin-right: 12vw;
  color: white;
}
.homeOffer__adLink {
  color: yellow;
  font-weight: 600;
  margin-right: 2px;
}
.footer {
  background-color: rgb(94, 94, 94);
  width: 100vw;
  height: 25px;
  padding-top: 10px;
}

.footerText {
  text-align: center;
  font-size: 12px;
  color: white;
}
