.backgroundTheme {
  height: 70vw;
  width: 100vw;
  background-image: linear-gradient(90deg, blue, rgb(50, 233, 227));
  position: absolute;
  z-index: -1;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 45%;
}
